my_devenv
*.pyc
params.json
env.py
env.sh
list/
*__pycache__
initialise.tf 
.terraform/*
*terraform.tfplan
*terraform.tfstate
.terraform/
./*.tfstate
*.backup
*.DS_Store
*.log
*.bak
*~
.*.swp
.project
*venv
