.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
.display{
    display:flex;
    flex-direction: row;
}
.text-size{
    font-size:20px;
}
.text-color{
    color:red;
}
.body{
    text-align: center;
    font-family:sans-serif;
}
